{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
homepage
{% endblock %}

{% block body %}
<h1>{{ Welcome }}</h1>
<h3>
    <a href="{% url 'feed:post'%}">Add a new post &rarr</a>
<h3>
<h2>
    {% for post in posts %}
         <a href="{% url 'feed:detail' post.id %}">
         {{ post.text }}
        <br>
        {% thumbnail post.image "250x250" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        </a>
        <hr>
    {% endfor %}
</h2>
{% endblock %}